:root {
    --honeydew: #EBF5DF;
    --cucumber: #BAD4AA;
    --vanilla: #D4D4AA;
    --honeymustard: #EDB458;
    --citrus: #E8871E;
    /* Color pallete ^^*/
}

#toggleSidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

nav {
    background-color: black;
    color: white;
}